<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo mới phim</title>
    <link rel="stylesheet" th:href="@{/css/create-movie.css}">
</head>
<body>

    <div class="container">
        <h2>Thêm phim</h2>

        <form th:action="@{/movies/create}" th:method="post" th:object="${movie}">
            <div>
                <label for="name">Tên phim:</label>
                <input type="text" id="name" th:field="*{name}" required>
            </div>
            <div>
                <label for="genre">Thể loại:</label>
                <select id="genre" th:field="*{genre}">
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Action">Action</option>
                    <option value="Romance">Romance</option>
                    <option value="Animation">Animation</option>
                    <option value="Crime">Crime</option>
                </select>
            </div>
            <div>
                <label for="director">Đạo diễn:</label>
                <input type="text" id="director" th:field="*{director}" required>
            </div>
           <div>
               <label for="description">Mô tả:</label>
               <textarea id="description" th:field="*{description}" required></textarea>
           </div>
            <div>
                <label for="category">Danh mục:</label>
                <select id="category" th:field="*{category}" required>
                    <option value="16+">16+</option>
                    <option value="18+">18+</option>
                    <option value="Thiếu ni">Thiếu nhi</option>
                </select>
            </div>
            <div>
                <label for="duration">Thời lượng (phút):</label>
                <input type="number" id="duration" th:field="*{duration}" required>
            </div>
            <div>

                <label for="publishedDate">Ngày phát hành:</label>
                <input type="date" id="publishedDate" th:field="*{publishedDate}" required>
            </div>

            <div>
                <button type="submit">Thêm phim</button>
            </div>
        </form>

    </div>

</body>
</html>
